backups/
coremods/
crash-reports/
local/
logs/
mods/
resourcepacks/
saves/
schematics/
screenshots/
server-resource-packs/
shaderpacks/
skyblock_exports/
texturepacks/
icon.png/
options.txt/
rhino.local.properties/
usercache.json/
usernamecache.json/
XaeroWaypoints/
XaeroWaypoints_*/
XaeroWorldMAp/